/* Index styles */
.index-nav {
  display: block;
  text-decoration: none;
  color: currentColor;
  margin: 10px;
}
.index-nav:hover {
  color: green;
}
/*  */
.nav-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: currentColor;
}
.nav-link:hover {
  color: green;
}

.doc-title {
  color: teal;
}
.magic-btn {
  width: 140px;
  height: 60px;
  border: 3px black green;
  border-radius: 15px;
  background-color: teal;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}
/* Super Document */
.magic-list {
  list-style: none;
}
.magic-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.magic-list__link {
  text-decoration: none;
  color: currentColor;
}
.magic-list__link:hover {
  color: green;
}

.magic-list__link--current {
  color: tomato;
}
/* Collections */
.color-picker {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.buttons-item {
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Keybord event */

.output {
  font-size: 24px;
}
/* Mouse event */

.box{
  width: 200px;
  height: 200px;
  background-color: teal;
}
.box--active{
  background-color: blue;
}

.inner-box{
  width: 70px;
  height: 70px;
  background-color: orange;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}